<%- include('partials/header', { title: "Home" }) %>

    <% if (user.role === 'admin') { %> 
        <h1>Admin Dashboard</h1>
        <h2 class="yellow">Welcome, <%= user.username %>!</h2>
        <h2>All Registered Users:<h2>
        <ul>
            <% users.forEach(u => { %>
                <li>User: <%= u.username %> (<%= u.email %>) - Role: <%= u.role %> </li>
            <% }) %>
        </ul>

    <% } else { %> 
        <h1>User Dashboard</h1>
        <h2 class="yellow">Welcome, <%= user.username %>!</h2>
    <% } %>

    <a href="/logout" class="link">Logout</a>


<%- include('partials/footer') %>